<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
    
        <menuitem id="tesalonikacakery_menu_root" name="CAKERY" sequence="10"/>
        <menuitem id="tesalonikacakery_datamaster_menu_categ" name="Data Kue" parent='tesalonikacakery_menu_root' sequence="10"/>
        <menuitem id="tesalonikacakery_customer_menu_categ" name="Data Customer" 
        parent='tesalonikacakery_menu_root' sequence="20"/>
        <menuitem id="tesalonikacakery_order_menu_categ" name="Operasional" 
        parent='tesalonikacakery_menu_root' sequence="10"/>
    </data>
</odoo>
